version: "3.7"
services:
  app:
    image: traefik:v2.3
    restart: always
    command:
      - --log.level=DEBUG
    labels:
      # General config
      - traefik.enable=true
      - traefik.docker.network=traefik_traefik-proxy
      # This middleware is reused by other containers. Don't change it unless you know what you're doing.
      - traefik.http.middlewares.httpsRedirect.redirectscheme.scheme=https
      # insecure router (redirect to https)
      - traefik.http.routers.api.rule=Host(`{{ cache_traefik_dashboard_fqdn }}`)
      - traefik.http.routers.api.middlewares=httpsRedirect
      # secure router
      - traefik.http.routers.api-secure.rule=Host(`{{ cache_traefik_dashboard_fqdn }}`)
      - traefik.http.routers.api-secure.service=api@internal
      - traefik.http.routers.api-secure.tls=true
      - traefik.http.routers.api-secure.tls.certresolver={{ cache_traefik_le_acme_environment }}
    environment:
      - AWS_ACCESS_KEY_ID={{ cache_traefik_aws_access_key_id }}
      - AWS_SECRET_ACCESS_KEY={{ cache_traefik_aws_secret_access_key }}
      - AWS_REGION={{ cache_traefik_aws_region }}
    ports:
      - "80:80"
      - "443:443"
      - "9101:9101"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./config/:/config/
      - ./certs/:/certs/
      - ./traefik.yml:/etc/traefik/traefik.yml
      - ./log:/var/log/traefik.log
    networks:
      - traefik-proxy
  watcher:
    image: containrrr/watchtower
    container_name: watchtower
    command:
      - --label-enable
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      - com.centurylinklabs.watchtower.enable=true
networks:
  traefik-proxy:
