####################
# api-proxy config #
####################

frontend front-api-proxy
    bind 0.0.0.0:{{load_balancer_port}}
    bind 127.0.0.1:{{load_balancer_port}}
    mode tcp
    option tcplog
    default_backend back-api-proxy

backend back-api-proxy
    mode tcp
    option tcp-check
    balance roundrobin
{% for item in groups['masters'] %}
    server {{ item }} {{hostvars[item]['ansible_host']}}:6443 check
{% endfor %}
