---
apiVersion: v1
kind: Pod
metadata:
  name: haproxy
  namespace: kube-system
  creationTimestamp: null
  labels:
    component: haproxy
    tier: control-plane
  annotations:
    haproxy-config-checksum: "{{ haproxy_config_stat.stat.checksum }}"
spec:
  containers:
  - image: {{ haproxy_image_repo }}:{{ haproxy_image_tag }}
    imagePullPolicy: IfNotPresent
    name: haproxy
    resources:
      requests:
        cpu: {{ haproxy_cpu_requests }}
        memory: {{ haproxy_memory_requests }}
    {% if haproxy_healthcheck_port is defined -%}
    livenessProbe:
      httpGet:
        path: /healthz
        port: {{ haproxy_healthcheck_port }}
    readinessProbe:
      httpGet:
        path: /healthz
        port: {{ haproxy_healthcheck_port }}
    {% endif -%}
    volumeMounts:
    - mountPath: /usr/local/etc/haproxy/
      name: haproxyconf
      readOnly: true
  hostNetwork: true
  dnsPolicy: ClusterFirstWithHostNet
  priorityClassName: system-node-critical
  volumes:
  - hostPath:
      path: {{ haproxy_config_dir }}
    name: haproxyconf
status: {}
