#jinja2:lstrip_blocks: True
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: JoinConfiguration
caCertPath: /etc/kubernetes/pki/ca.crt
discovery:
  bootstrapToken:
    apiServerEndpoint: {{ cluster_control_plane_endpoint }}
    token: {{ kubeadm_join_token }}
    unsafeSkipCAVerification: false
    caCertHashes:
      - sha256:{{ cluster_ca_sha256 }}
  timeout: 5m0s
{% if inventory_hostname in groups['masters'] %}
controlPlane:
  certificateKey: {{ kubeadm_certificate_key }}
{% endif %}
nodeRegistration:
  criSocket: {{ cri_socket_path }}
