[defaults]
roles_path = ./roles
inventory = ./test_inventory
library = ./library
host_key_checking = False
forks = 5
nocows = 1
retry_files_enabled = False
stdout_callback = yaml
callback_whitelist = profile_tasks
bin_ansible_callbacks = False
deprecation_warnings = False
interpreter_python = auto_silent
remote_tmp = ~/.ansible/tmp
timeout = 30

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
