#cloud-config

## Set your hostname here, the manage_etc_hosts will update the hosts file entries as well
hostname: k8s-master-01
manage_etc_hosts: true

## Set the locale of the system
locale: 'en_AU.UTF-8'

## Set the timezone
## Value of 'timezone' must exist in /usr/share/zoneinfo
timezone: 'Australia/Melbourne'

apt_preserve_sources_list: true
apt_update: true
apt_upgrade: true

users:
  - name: pi
    primary-group: users
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users
    ssh_import_id: None
    ## To enable SSH password log in
    ## mkpasswd --method=SHA-512 --rounds=4096
    # passwd: ""
    # lock_passwd: false
    # ssh_pwauth: true
    lock_passwd: true
    ssh_pwauth: false
    ssh_authorized_keys:
      - 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCoXuKrmgKM7kHY6dirVdL+C/ofLFZ4kJHCoBb0KkNY8/DPLagc7gSDKidUwgTImsjtJ0u3W4KI+APsbQA8CkcGGnCRZRJObk2Bq8j5DJPizHYB8sReD27V4VB+0r7rEsTMhVJcd/+6QOCLxGAFWATjs6dDy0PRO/0lB3mhtpYApcnsQtFF/Vk7XteUzVTj1UH5cQjVFTPiVui4AaLKgCecDANpSuYBXV5UZxgthR3RlVXCR//mCwQsLBGLPlSdgG0E6EZ8se9KJ3PKOuXLs23uI7UYpzVftNpaOYHldKjHTe0KcIxbTLHdpLTIaQqdEOpcsgudZ9wKLci2cC/RpX2hxB1vwX6sCi0kfp/e172anClPH5cN5jyAkH3in2mM1Xw0H3MLThncpg6qGFvEBDLl+xowFkdNEA/0jyUwCAabKaYfoM79w4e+UPH12C39rJ+Ew7eVPj6LDD9B0Aqrbozd/I+WQMqk7tFtK7w3gFDw6JDGPyTv0Vca4SrMDpR60G9ybkB1hMV5h1J4Y/WOb1YYGamLF9SxnCuKFfmzDVLfK4jI8a0t3EWJaSYskIIIqQZvE9ynU1ssXrIrvQmaIMTfsUCBqBbnmaeqpF4MZf4YTGi68/fYXKt6b8goRNZ7dWagET6gGHM6HoYaFtCWEKbe/axO7tVjuKQWZjgmV4T81w== dreamappsoftware@gmail.com'

write_files:
  - path: /etc/netplan/50-cloud-init.yaml
    permissions: '0644'
    content: |
      network:
        version: 2
        ethernets:
          eth0:
            dhcp4: true
            addresses:
              - 192.168.1.101/24
            gateway4: 192.168.1.1
            nameservers:
              addresses:
                - 1.1.1.1
                - 8.8.8.8
    ## To enable WiFi network connection
    ## Note: IP allocation is dynamic and won't match the defined state as in eth0.
    ##       This will require manually configuring the Ansible inventory file with
    ##       the assigned IP values.
    #     wifis:
    #       wlan0:
    #         optional: true
    #         dhcp4: true
    #         access-points:
    #           'YOUR-SSID-NAME':
    #             password: 'YOUR-NETWORK-PASSWORD'

runcmd:
  - [sudo, netplan, apply]
  - [
      sudo,
      sed,
      -i,
      's/PasswordAuthentication no/PasswordAuthentication yes/g',
      /etc/ssh/sshd_config,
    ]
  - [sudo, systemctl, restart, sshd]
