hostname: '{{ kube_api_server_dns }}'
url: 'http://{{ nginx_ingress_dns }}:{{ nginx_port }}'
origin-server-name: '{{ ingress_sans }}'
lb-pool: master-node-pool
logfile: /var/log/cloudflared.log
loglevel: info
