name: build

on: [pull_request]

jobs:
  validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Shellcheck
        uses: reviewdog/action-shellcheck@v1
        with:
          reporter: github-check
          path: '.'
          pattern: '*.sh'
          exclude: './.git/*'

      - name: Validate Cloud-Config
        run: |
          sudo apt-get update -y
          sudo apt-get install -y cloud-init
          cloud-init devel schema --config-file ./setup/cloud-config.yml

      - name: Lint Ansible
        uses: ansible/ansible-lint-action@master
        env:
          ANSIBLE_CONFIG: ansible/ansible.cfg
        with:
          targets: './ansible'
          args: '--exclude ./ansible/handlers'
